.relative {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: lightblue;
}

.absolute {
  position: absolute;
  top: 20px; /* Relative Parentから20pxの位置に配置 */
  left: 20px; /* Relative Parentから20pxの位置に配置 */
  width: 100px;
  height: 100px;
  background-color: coral;
}
